/* Updated table CSS with green theme */

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 35vw;
  max-width: 600px;
  height: 70vh;
  border: 1px solid #2ecc71; /* Green border */
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "Roboto", sans-serif; /* Updated font family */
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 15%;
  padding: 10px;
  border-bottom: 1px solid #2ecc71; /* Green border */
  border-radius: 7px 7px 0 0;
  background-color: #2ecc71; /* Green background color */
  color: #fff; /* White text color */
}

.items {
  height: 100%;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  height: 10%;
  padding: 10px;
  border-bottom: 1px solid #2ecc71; /* Green border */
  font-size: 1.3rem;
  transition: background-color 0.1s;
}

.item:hover {
  background-color: rgba(144, 238, 144, 0.6); /* Light green hover color */
}

.container ::-webkit-scrollbar {
  width: 10px;
}

.container ::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.container ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #2ecc71; /* Green scrollbar thumb color */
}
